@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e8e8e8;
}
.dark {
  background-color: black;
  .btn__darkmode {
    #switch__mode {
      color: white;
    }
  }
}
.btn__darkmode {
  position: fixed;
  top: 5%;
  right: 10%;
  button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: 24px;
  }
}
.card {
  position: relative;
  background-color: #243137;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transform: scale(0.8);
  transition: all 1s ease-in-out;
  &:hover {
    transform: scale(1);
    border-radius: 0;
  }
  &__box {
    position: relative;
    width: 94%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &:hover::before {
      transform: rotate(0deg) scale(1);
      opacity: 1;
    }
    &:hover .item__1::before {
      width: 100%;
    }
    &:hover .item__2::before {
      opacity: 1;
      transform: scale(1);
    }
    &:hover .item__3 {
      opacity: 1;
      transform: translateY(510%) scale(1);
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: 2px solid #bd9f67;
      transform: rotate(8deg) scale(1);
      opacity: 0;
      transition: all 1s ease-in-out;
    }
    .item__1 {
      -webkit-text-stroke: 0.5px #bd9f67;
      color: transparent;
      position: relative;
      &::before {
        content: "UIVERSE";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #bd9f67;
        background-clip: text;
        transition: all 1s ease-in-out;
      }
    }
    .item__2 {
      color: transparent;
      position: relative;
      &::before {
        content: "https://github.com/quoctrinh22";
        position: absolute;
        color: #bd9f67;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        opacity: 0;
        transition: all 1s ease-in-out;
      }
    }
    .item__3 {
      text-transform: uppercase;
      background-color: #243137;
      padding: 0 5px;
      transform: translateY(480%) scale(2);
      opacity: 0;
      transition: all 1s ease-in-out;
      font-size: 10px;
      color: #bd9f67;
    }
  }
}
